body{
    /* background-color: midnightblue; */
    background: linear-gradient(to top, rgb(16, 16, 16), rgb(0, 20, 153));
    box-shadow: 20px 7px 20px 4px rgb(0, 0, 0);
    height: 135px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
}
#div1{
    margin-top: 5px;
   
}
#image{
    border-radius: 100%;

}
#MCC{
    color: aliceblue;
    font-family: 'Algerian';
    font-weight: normal;
    text-shadow: 5px 3px 3px rgb(175, 159, 14);
    font-size: 30px;
    margin-top: -99px;
    margin-left: 120px;
    margin-right: 400in;

}
#p1{
    color: aliceblue;
    font-weight: normal;
    font-size: 14px;

    margin-top: -10px;
    margin-left: 120px;
}
#btn{
    margin-top: -272px;
    margin-left: 8in;
}
.modal-header{
    margin-bottom: -1px;
    background-color: rgba(188, 120, 91, 0.719);
}
.modal-body{
    background-color: rgba(189, 137, 115, 0.653);

}
.modal-footer{
    background-color: rgba(188, 120, 91, 0.719);
    margin-top: -1px;

}
#negivation{
    margin-top: -135px;
    margin-right: -2px;
}
#a1{
  background-color: rgb(1, 9, 152);
    color: rgb(247, 247, 247);
    border: 2px solid rgb(1, 9, 152);
    box-shadow: 2px 1px 2px 1px rgb(0, 0, 0);
    padding: 3px 6px ;
    position: relative;
    text-decoration: none;
    margin-bottom: 10px;
    margin-inline: 4px;
}
#a1:hover{
    background-color: rgb(130, 124, 41);
    border: 2px solid rgb(4, 8, 100);
    box-shadow: 3px -2px 1px 0px rgb(168, 22, 22);
    /* padding: 3px 5px ; */
}
