body{
    /* background-color: midnightblue; */
    background: linear-gradient(to top, rgb(16, 16, 16), rgb(0, 20, 153));
    box-shadow: 20px 7px 20px 4px rgb(0, 0, 0);
    height: 135px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
}
#div1{
    margin-top: 5px;
   
}
#image{
    border-radius: 100%;

}
#MCC{
    color: aliceblue;
    font-family: 'Algerian';
    font-weight: normal;
    text-shadow: 5px 3px 3px rgb(175, 159, 14);
    font-size: 30px;
    margin-top: -99px;
    margin-left: 120px;
    margin-right: 400in;

}
#p1{
    color: aliceblue;
    font-weight: normal;
    font-size: 14px;

    margin-top: -10px;
    margin-left: 120px;
}
#btn{
    margin-top: -272px;
    margin-left: 8in;
}
.modal-header{
    margin-bottom: -1px;
    background-color: rgba(188, 120, 91, 0.619);
}
.modal-body{
    background-color: rgba(189, 137, 115, 0.653);

}
.modal-footer{
    background-color: rgba(188, 120, 91, 0.719);
    margin-top: -1px;

}
#negivation{
    margin-top: -130px;

}
